* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing:border-box;
}

h1 {
    color: white;
}

.container {
    height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(to right bottom, #374141, #2c3435, #222828, #171c1d, #0b0f10);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.logo {
    text-decoration: none;
    left: 0;
    top: 0;
    color: white;
}


.logo:hover {
    text-decoration: none;
    left: 0;
    top: 0;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.sideNav {
    display: block;
    left: 0;
    margin-top: .5%;
    padding-left: 1%;
    height: 100%;
    padding-bottom: 20%;
    position: fixed;
}

.white_circle {
    /*background-color: white; */
    border-radius: 50%;
    filter: brightness(0) invert(1);
    color: white;
    width: 2em;
    height: 2em;
    transition: .4s;
}

nav ul li .white_circle:hover {
    transform: scale(2.1);
}

nav ul {
    /* border: 2px solid #d79645; */
    display: inline-block;
    margin-top: 100%;
    padding-top: 40%;
    left: 0;
    color: white;
    list-style-type: none;
    padding: 10px 20px;
    height: 100%;
    justify-content: space-between;
}

nav ul li {
    /* border: 2px solid #d79645; */
    display: flex;
    justify-content: space-between;
    left: 0;
    margin-top: 100%;
    padding-top: 3em;
    width: 100%;
}

nav ul li .white_circle.active {
    transform: scale(2.1);
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(57, 67, 67, 0.0);
    scroll-snap-align: start;
    transition: .4s;
}

.mainCard {
    position: relative;
    width: 90vw;
    height: 85vh;
    margin: 20px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    border-radius: 15px;
    /*background: #171c1d;*/
    background-image: linear-gradient(to right bottom, #374141, #2c3435, #222828, #171c1d, #0b0f10);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.headingText {
    /* border: 2px solid #d79645; */
    position: absolute;
    color: white;
    font-size: 5rem;
    margin-left: 35px;
    padding-top: 30px;
    z-index: 1;
    left: 4%;
    top: 25%;
    width: 60rem;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lobster', cursive;
}

.paraText {
    position: absolute;
    color: white;
    font-size: 2rem;
    height: 6rem;
    width: 50rem;
    z-index: 1;
    left: 6%;
    bottom: 45%;
    font-family: 'Josefin Sans', sans-serif;
}

#loginButton:disabled,
#loginButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#mainSignupButton:disabled,
#mainSignupButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.mainBtn {
    position: absolute;
    padding-top: 20px;
    color: white;
    bottom: 250px;
    border-radius: 30px;
    background-image: linear-gradient(to left top, #d79645, #dfa04f, #e7aa58, #f0b562, #f8bf6c);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 30%;
    height: 8%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    border: 1px solid white;
    transition: .4s;
    bottom: 20%;
    left: 6%;
}

.mainBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #222828;
}

.mainImage {
    position: absolute;
    width: 700px;
    max-height: 700px;
    bottom: 5%;
    right: 3%;
    border: 4px solid #dfa04f;
    display: block;
    background-size: cover;
    background-position: center; 
}

.tinyscroll {
    width: 2rem;
    height: 2rem;
    background-image:#dfa04f;
    border-radius: 50%;
}

/* quote page ************************************************************** */


.quotecontainer {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right bottom, #374141, #2c3435, #222828, #171c1d, #0b0f10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove {
    min-height: 2em;
    width: 2em;
}

.add {
    min-height: 2em;
    width: 2em;
}

button {
    display: inline;
    margin: 2em;
    margin-left: 2.8em;
}


h3 {
    display: inline; 
    padding-right: .5em;
    padding-left: .5em;
    color: white;
    font-size: 1em;
}

.spaces {
    display: inline-block;
}

.space {
    display: flex;
    width: 20em;
    color: white;
    padding: .5em;
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    color: white;
    margin-left: 2em;
}

.signup_in {
    position: absolute;
    right: 0;
    min-height: 35em;
    width: 20em;
    background-color: #222828;
    margin-right: 5em;
    border-radius: 15px;
}

input {
    display: block;
    padding: .5em;
    margin: .2em;
}

/****************************************           FORM SIGN UP          ******************************************/

.form_signup {
    position: absolute;
    inset: 2px;
    border-radius: 15px;
    background: #171c1d;
    z-index: 10;
    border: 1px solid #d79645;
    right: 0;
    display: flex;
    padding: 50px 40px;
}

.form_signup h2 {
    color: white;
    font-weight: 500;
    text-align: center;
    letter-spacing: .1em;
}

.inputbox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #171c1d;
    font-size: 1em;
    letter-spacing: .05em;
    z-index: 10;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 2px 10px 10px;
    font-size: 1.1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: .05em;
    transition: 0.5s;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
    color: #d79645;
    transform: translateX(-10px) translateY(-5px);
    font-size: 0.75em;
}

.inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #d79645;
    border-radius: 4px;
    transition: .5s;
    pointer-events: none;
    z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
    height: 44px;
}

.links {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.links a {
    position: relative;
    margin: 30px 0;
    font-size: .9em;
    color: white;
}

.formBtn {
    display: flex;
    justify-content: center;
    color: white;
    border: none;
    outline: none;
    background-image: linear-gradient(to left top, #d79645, #dfa04f, #e7aa58, #f0b562, #f8bf6c);
    padding: 10px 25px;
    width: 175px;
    margin-top: 10px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: .4s;
    border: 1px solid white;
}

.formBtn:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #222828;
}

aside {
    background-color: grey;
    height: 100vh;

}

/****************** SIGN IN ********************/

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backdrop {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 35;
}

.box {
    padding-top: 4rem;
    display: block;
    position: relative;
    width: 45rem;
    height: 60rem;
    background:#171c1d;
    z-index: 30;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1rem 1rem #040404;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 35rem;
    height: 40rem;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #d79645, #d79645);
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 35rem;
    height: 40rem;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #d79645, #d79645);
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form {
    padding-top: 4rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: .25rem;
    border-radius: 1rem;
    background:#171c1d;
    z-index: 31;
}

.signinbtn {
    position: absolute;
    top: 4rem;
    right: 16rem;
    font-weight: 800;
}

#loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(to left top, #d79645, #dfa04f, #e7aa58, #f0b562, #f8bf6c);
    margin-top: 4rem;
    border-radius: 4rem;
    height: 4rem;
    width: 10rem;
    font-weight: 600;
    cursor: pointer;
    transition: .4s;
    border: 1px solid white;
}

#loginButton:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #222828;
}

/******************    PROJECTS    *********************/

.img-slider {
    position: relative;
    width: 150rem;
    height: 85rem;
    margin: .7rem;
}

.img-slider .slide {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 3s;
    transition-property: clip-path;
}

.imageGallery {
    z-index: 1; 
    position: absolute;
    height: 100%;
    width: auto;
    border-radius: 1rem;
    border: .2rem solid white;
    box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, .5);
}

.img-slider .slide .info {
    z-index: 1;
    position: absolute;
    top: 20%;
    right: 10rem;
    padding: 1rem 2rem;
}

.img-slider .slide .info h2 {
    top: 5%;
    color: white;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: .2rem;
    font-family: 'Josefin Sans', sans-serif;
}

.img-slider .slide .info p {
    color: white;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 8rem;
    position: absolute;
    width: 50rem;
    top: 0;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}

.img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 3rem;
    left: 22%;
    height: 4rem;
    transform: translateX(-20%);
}

.img-slider .navigation .btn {
    background: rgba(255, 255, 255, .4);
    max-width: .5rem;
    max-height: .5rem;
    margin: 1rem;
    border-radius: 10%;
    cursor: pointer;
}

.img-slider .navigation .btn.active {
    background: #d79645;
    box-shadow: 0 0 .1rem rgba(0, 0, 0, .5);
}

/*******************    MEDIA QUERIES    ***********************/

@media screen and (max-width: 1300px) {

    .container {
        height: 100vh;
        width: 100%;
        grid-template-columns:  9rem auto auto;
        background-attachment:fixed;
    }

    .mainCard {
        position: relative;
        width: 90vw;
        height: 85vh;
        margin: 2rem;
        padding: 2rem;
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, .5);
        border-radius: 1.5rem;
        /*background: #171c1d;*/
        background-image: linear-gradient(to right bottom, #374141, #2c3435, #222828, #171c1d, #0b0f10);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(0.3rem);
    }

    .mainImage {
        position: absolute;
        width: 60rem;
        max-height: 60rem;
        bottom: 10%;
        right: 5%;
        border: 4px solid #dfa04f;
        display: block;
        background-size: cover;
        background-position: center; 
    }

    .headingText {
        /* border: 2px solid #d79645; */
        position: absolute;
        color: white;
        font-size: 3rem;
        margin-left: 3rem;
        padding-top: 3rem;
        z-index: 1;
        left: 2%;
        top: 25%;
        width: 40rem;
        font-family: 'Libre Baskerville', serif;
        font-family: 'Lobster', cursive;
    }

    .paraText {
        position: absolute;
        color: white;
        font-size: 2rem;
        height: 8rem;
        width: 40rem;
        z-index: 1;
        left: 5%;
        bottom: 45%;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .mainBtn {
        position: absolute;
        padding-top: 2rem;
        color: white;
        bottom: 250px;
        border-radius: 30px;
        background-image: linear-gradient(to left top, #d79645, #dfa04f, #e7aa58, #f0b562, #f8bf6c);
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        width: 30%;
        height: 8%;
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, .5);
        border: 1px solid white;
        transition: .4s;
        bottom: 20%;
        left: 6%;
    }
    
    .mainBtn:hover {
        transform: scale(1.1);
        cursor: pointer;
        color: #222828;
    }

}

/*******************    MEDIA QUERIES    ***********************/
@media screen and (max-width: 769px) {

    .container {
        height: 100vh;
        width: 100%;
        grid-template-columns:  9rem;
        background-attachment:fixed;
    }

    .mainCard {
        position: relative;
        width: 100vw;
        height: 95vh;
        margin: 2rem;
        padding: 2rem;
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, .5);
        border-radius: 1.5rem;
        background-image: linear-gradient(to right bottom, #374141, #2c3435, #222828, #171c1d, #0b0f10);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(0.3rem);
    }

    .mainImage {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 30rem;
        max-height: 30rem;
        top: 2%;
        left: 1rem;
        border: 4px solid #dfa04f;
        background-size: cover;
        background-position: center; 
        transition: 4s;
    }

    .headingText {
        /* border: 2px solid #d79645; */
        position: absolute;
        color: white;
        font-size: 2rem;
        margin-left: 8%;
        padding-top: 1rem;
        z-index: 1;
        top: 40%;
        width: 25rem;
        font-family: 'Libre Baskerville', serif;
        font-family: 'Lobster', cursive;
        transition: 4s;
    }

    .paraText {
        position: absolute;
        color: white;
        font-size: 1.5rem;
        height: 8rem;
        width: 25rem;
        left: 9%;
        z-index: 1;
        top: 52%;
        font-family: 'Josefin Sans', sans-serif;
        transition: 4s;
    }
    
    .mainBtn {
        position: absolute;
        padding-top: 2rem;
        color: white;
        bottom: 1.5rem;
        border-radius: 30px;
        background-image: linear-gradient(to left top, #d79645, #dfa04f, #e7aa58, #f0b562, #f8bf6c);
        text-decoration: none;
        text-align: center;
        font-size: 1.2rem;
        width: 70%;
        height: .5;
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, .5);
        border: 1px solid white;
        transition: 4s;
        bottom: 8%;
        left: 10%;
    }
    
    .mainBtn:hover {
        transform: scale(1.1);
        cursor: pointer;
        color: #222828;
    }

}