{% extends 'base.html'%}

{% block title %}
<title>Oneredbox.ng - Forgot Password</title>
{% endblock %}

<body id="loginpage">
    {% block content %}
    <div class="backdrop">
        <div class="box">
            <div class="form">
                <form class="signin-form" action="#" method="POST">
                    <h3>Let's reset your password</h3>
                    <div class="inputbox">
                        <input type="email" name="forgot_mail" required placeholder="input your registered email">
                        <span>E-mail</span>
                        <i></i>
                    </div>
                    <button type="submit" href="#" id="loginButton"><b>RESET</b></button> 
                </form>
            </div>
        </div>
    </div>
    {% endblock %} 
</body>