{% extends 'base.html'%}

{% block title %}
<title>Oneredbox.ng - Login to your account</title>
{% endblock %}

<body id="loginpage">
    {% block content %}
    <div class="backdrop">
        <div class="box">
            <div class="form">
                <form class="signin-form" action="#" method="POST">
                    <h3>LOG IN</h3>
                    <div class="inputbox">
                        <input type="email" name="loginMail" required>
                        <span>E-mail</span>
                        <i></i>
                    </div>
                    <div class="inputbox" >
                        <input type="password" name="inputPass" required>
                        <span>Password</span>
                        <i></i>
                    </div>
                    <div class = "captcha">
                        <label for="captcha-input">Enter Captcha</label>
                        <div class="preview" name="genCaptcha"></div>
                        <div class="captcha-form">
                            <input type="text" id="captcha-form" name="enteredcaptcha" placeholder="Enter captcha text">
                            <button type="button" class="captcha-refresh">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </div>
                    </div>
                    <div class="links" >
                        <a href="#" id="goToSignUp">Sign up</a>
                        <a href="#" id="resetPass">Forgot Password</a>
                    </div>
                    <button type="submit" href="#" id="loginButton"><b>LOG IN</b></button> 
                </form>
            </div>
        </div>
    </div>
    {% endblock %} 
</body>
